<!DOCTYPE html>

<html>
	
	<head>
		<!-- Custom stylesheet -->
		<!-- <link rel="stylesheet" href="styles.css"> -->

		<!-- Latest compiled and minified CSS -->
		<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

		<!-- jQuery library -->
		<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->

		<!-- Latest compiled JavaScript -->
		<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	</head>

	<body>

		<h1>To Do<br>Do you know what to do?</h1>

		<fieldset>

			<center>

				<legend>Welcome</legend>
				<p>Already a member?</p>
				<a href="login.html">Login</a>
				<p>Need an account?</p>
				<a href="register.html">Register</a>

			</center>

		</fieldset>

	</body>

</html>
