#container {

	text-align: center;

}
h1 {

	text-align: center;
	background-color: tomato;

}
a:link{

	color: black;
	text-decoration: none;

} 
a:visited {

	color: black;
	text-decoration: none;

}

a:active {

	color: black;
	text-decoration: none;

}
a:hover {

	color: blue;

}
fieldset {

	width: 50%;
	margin: auto;
	text-align: center;
	background-color: white;

}
input {

	margin: 3px;

}
html {

	background-color: #9cb8e5;

}