<?php
	session_start();
	gatekeeper();
?>
<!DOCTYPE html>
<html>

	<head>

		<link rel="stylesheet" href="../view/styles.css">
		<h1>Todo<br>Add Todo</h1><br />

	</head>

	<script type="text/Javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"">

		$(document).ready(function(){
			$("#add").click(function(){
				var id = '<?php echo $_SESSION["id"] ?>';
				console.log(id);

				// function insertTodo(){

				// 	$.ajax({

				// 		type: "POST",
				// 		url: "../controller/todohandler.php",
				// 		data: id,

				// 		success: function(result){

				// 			//id, owneremail, ownerid, createddate, duedate, message, isdone
				// 			var id;
				// 			var owneremail;
				// 			var ownerid;
				// 			var createddate;
				// 			var duedate;
				// 			var message;
				// 			var isdone;

				// 		}

				// 	});

				// }
			});

		});

	</script>

	<body>

		<fieldset><br>

			<input type="text" class="todoInput" placeholder="Enter todo" />
			<input type="submit" id="add" value="Add">

			<p class="todo"></p>

		</fieldset><br>

		<center>

			<form action="../controller/logout.php">

				<input type="submit" value="Logout">

			</form>

		</center>

	</body>

</html>